@charset "utf-8";
/* CSS Document */
body{color:#fb5;}
#header{color:#ec8;}
#navigation{color:#455;background-color:#789;}
#content{color:#223;background-color:#edc;}
#navigation a:link,#navigation a:visited{
	color:#eef;
	
}
#navigation a:hover{
	color:#445;
}
#navigation a:active{
	color:#667;
}
#navigation a.here:link,
#navigation a.here:visited,
#navigation a.here:hover,
#navigation a.here:active{
	color:#eef;
	background-color:#799;
}