@charset "utf-8";
/* CSS Document */
*{margin:0px;padding:0px;}
body{
	margin:1em 20%;
	background-color:#334;
	background-image:url(../image/timg.jpg);
	background-position:top left;
	background-repeat:repeat-x;
	background-attachment:fixed;
	max-width:80em;
	color:#fb5;
	font-size:100%;
	font-family:"Helvetica","Arial",sans-serif;
}
a{font-weight:bold;text-decoration:none;}
a:link{color:#445;background-color:#eb6;}
a:visited{color:#345;background-color:#eb6;}
a:hover{color:#667;background-color:#fb5;text-decoration:underline;}
a:active{color:#778;background-color:#ec8;}

#header{
	background-position:center right;
	background-repeat:no-repeat;
	border:0.1em solid #667;
	border-bottom-width:0;
	background-color:#334;
	color:#ec8;
	
}
#navigation{
	font-family:"Luncide Grande","Helvetial","Arial",sans-serif;
	border:0.1em solid #667;
	border-top-width:0px;
	border-bottom-width:0;
	padding-left:10%;
	color:#445;
	background-color:#789;
	
}
#navigation ul{
	width:100%;
	overflow:hidden;
	border-left:0.1em solid #99a;
	
}
#navigation li{
	display:inline;
}
#navigation li a{
	display:block;
	float:left;
	padding:0.5em 2em;
	border-right:0.1em solid #99a;
	text-decoration:none;
	font-weight:bold;
}
#content{
	border:0.1em solid #667;
	border-top-width:0;
	padding:2em 10%;
	line-height:1.8em;
	color:#223;
	background-color:#edc;
	
}
#content p{margin:1em 0px;}
#navigation a:link,#navigation a:visited{
	color:#eef;
	background-color:transparent;
	border-color:#99a;
}
#navigation a:hover{color:#445;background-color:#eb6;}
#navigation a:active{color:#667;background-color:#ec8;}
h1{
	font-size:2.4em;
}
h2{
	font:1.8em normal;
	margin-top:1em;
}
h3{
	font:1.4em normal;
	margin-top:1em;
}
#navigation a.here:link,
#navigation a.here:visited,
#navigation a.here:hover,
#navigation a.here:active{
	color:#eef;
	background-color:#779;
}
#home #header{
		background-image:url(../image/31.PNG);
}
#about #header{
	background-image:url(../image/30.PNG);
}
#photos #header{
	background-image:url(../image/basshead.gif);
}
#live #header{
	background-image:url(../image/drummer.gif);
}
#contact #header{
	background-image:url(../image/bassist.gif);
}
#slideshow{
	width:150px;
	height:150px;
	position:relative;
	overflow:hidden;
}
#frame{
	position:absolute;
	top:0px;
	left:0px;
	z-index:2;
		
}
#imagegallery{margin-top:1em;}
#imagegallery li,#imagegallery a{
	display:inline;
	background:none;
}
#internalnav{margin-top:1em;}
table{margin-top:1em;}
th{
	color:#edc;
	background-color:#445;
}
tr td{
	color:#223;
	background:#eb6;
}
td{padding:0.5em 3em;}
tr.odd td{
	color:#223;
	background-color:#ec8;
}
tr.highlight td{
	color:#223;
	background-color:#cba;
}
label{display:block}
fieldset{border:none;}
